body {
    background-color: #e5e5e5;
}

.innerbox {
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.innerbox h1 {
    font-weight: 600;
    margin-bottom: 15px;
}

#inputVal {
    font-size: 22px;
    font-weight: bold;
}

.btn {
    height: 60px;
    font-size: 1.2rem;
    border-radius: 10px;
}

.row {
    width: 100%;
}

#result {
    height: 30px;
    font-size: 22px;
    margin-right: 12px;
}